<!DOCTYPE html>
<html>
<head>
  <title>Project name</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">Project name</a>
    </div><!-- / .navbar-header -->
  </nav>

  <div class="app">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div><!-- / .row -->
  </div><!-- / .app -->

  <%= javascript_include_tag 'application' %>
</body>
</html>
